body{
/*    background-color: red;*/
    font-family: 'Libre Caslon Text', serif;
}


.nav-sidebar{
    margin: 80px -20px 20px 20px;
}

.nav-sidebar >li >a{
    padding: 20px 20px;
}

.main{
    margin-top: 80px;
/*    background-color: lightgrey;*/
/*    text-align: center;*/
    padding: 20px;
}

.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}

.placeholder{
    margin-bottom: 20px;
    
    text-align: center;
}


.placeholder img{
    display: inline;
    border-radius: 50%;
}

#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}